/target/
*.class
*.class
src/main/java/com/mycompany/wintech/Prototype$1.class
src/main/java/com/mycompany/wintech/Prototype.class
src/main/java/com/mycompany/wintech/listData
src/main/java/com/mycompany/wintech/Prototype.class
